beautifulsoup4==4.12.3
requests==2.32.3
cloudscraper==1.2.71
tenacity==9.0.0
click==8.1.7
pydantic==2.8.2
rich==13.7.1
tqdm==4.66.4
urllib3==2.2.2
curl_cffi==0.6.0
playwright==1.48.0
playwright-stealth==1.0.6